* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

h2  {
    color: #da0d0d;
    text-align: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

body {
    background-color: #bdb7b7;
    font-family: "Arial", sans-serif;
}

#expenditure, #global {
    border: black 3px solid;
    border-radius: 10px;
}

#expenditure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40vw;
    margin-top: 1.5rem;
    box-shadow: whitesmoke 5px 5px 5px;
}

#div1, #div2 {
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

#global {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    padding: 0.5rem;
    box-shadow: whitesmoke 5px 5px 5px;
}

#globalResult {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 12vw;
}

#globalResult {
    margin-top: 1rem;
}

#resultButton, #reset {
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

#statut {
    font-weight: bold;
    font-size: 1.5rem;
}